.input-container
{
    border: 2px solid black;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 5px;
}

.counter-value
{
    border:2px solid red;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2px;
    padding: 5px;
}